	<div class="fr">
		<h2>Araka <small>Bot Administration</small></h2>
	</div>
	<div class="jumbotron">


		<div class="col-md-4">
			<div class="container">
				<h2>Plugins</h2>
				<div class="panel panel-default">
					<div class="panel-body">

						<div class="list-group">
							<a href="#" class="Commands list-group-item">
								<span class="badge enabled">Enabled</span>
								<h4 class="list-group-item-heading"> <i class="fa fa-exclamation" aria-hidden="true"></i>  Welcome</h4>
								<p class="list-group-item-text">Edit the <strong>Welcome</strong> message to all new users</p>
							</a>
							<a href="#" class="Commands list-group-item">
								<span class="badge enabled">Enabled</span>
								<h4 class="list-group-item-heading"> <i class="fa fa-exclamation" aria-hidden="true"></i>  Help</h4>
								<p class="list-group-item-text">The simple <strong>Help</strong> command</p>
							</a>
							<a href="#" class="Commands list-group-item">
								<span class="badge enabled">Enabled</span>
								<h4 class="list-group-item-heading"> <i class="fa fa-exclamation" aria-hidden="true"></i>  Level</h4>
								<p class="list-group-item-text">Lets member gain <strong>XP</strong> by participate in tchat</p>
							</a>
							<a href="#" class="Commands list-group-item">
								<span class="badge disabled">Disabled</span>
								<h4 class="list-group-item-heading"> <i class="fa fa-exclamation" aria-hidden="true"></i>  polls</h4>
								<p class="list-group-item-text">Create and manage <strong>Polls</strong> </p>
							</a>
						</div>


					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="container">
				<h2>Welcome</h2>
				<div class="panel panel-default">
					<div class="panel-body">
						Salut à toi et bienvenue sur le serveur Discord l'Evolution est en marche.
						<br><br>
						Premièrement et pour ne pas déroger aux règles, tu a accès aux #reglement du serveur dans le salon portant le même nom.
						Si cela est ta première venu, merci d'enregistrer un email pour ton compte Discord et d'informer un GM de la guild dont tu fait parti,
						de cette façons nous t'ajouterons au rôle adéquate. Si tu fait parti de plusieurs guilds, donne la liste.
						<br><br>
						Les différents salons contienent chacun leur propre description pour plus de clarté. N'hésite pas à poster un message.
						Si tu a des questions, n'hesite pas à les poser. Si la question concerne les GM, tu peux directement mentionner le groupe GM,
						de sorte que tous les GM soient au courant de la question et puisse te répondre le plus rapidement.
						Pour cela il te suffit d'écrire <strong>@GM</strong> <Ton message>.
						<br><br>
						Pour information, je suis un bot, il n'est pas nécessaire de tenter de taper une discute avec moi, je ne suis pas très répondant.
						Sur ce Salut.
					</div>
				</div>
			</div>
		</div>



	</div>